html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    text-align: center
   
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.blue {
	color: #06F;
}

.green {
	color: #0A0;
}

.menu-wrapper ul.menu, ul.tabs {
    padding: 0;
    margin: 0;
    list-style: none;
}

.spacing {
	margin-bottom: 40px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}



/* ==========================================================================
    Forms
   ========================================================================== */




/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
    /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }


  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
    /* h5bp.com/t */;
}

tr,
  img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
}

h2,
  h3 {
    page-break-after: avoid;
}
}
/* ==========================================================================
    Structure & Defaults
   ========================================================================== */
html, body {
    font-size: 100%;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: baseline;
}

body {
    font: 13px/19px "Open Sans", Arial, sans-serif;
    font-weight: 300;
    color: #777777;
    background-color: #4c4c4c;
}

a {
    color: white; /* Цвет обычной ссылки */
    padding: 2px; /* Поля вокруг текста */
   }
   a:visited {
    color: white; /* Цвет посещенной ссылки */
   } 
   a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: #4e82a0; /* Цвет фона */
   }






.page-header {
margin: 0;
background-color: white;
}



.icon img {

height: 80px;
width: 80px;
}

.bg-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.container-fluid {
    padding: 10px 150px;
}

/*HEAD*/

.sidebar-menu {
    position: relative;
    color: white;
     margin: 10px;
    padding: 20px;
    height: 400px;
}

.photo-wrapper {
    background-color: #e5e8ed;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 260px;
    width: 260px;

}

.photo-wrapper h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;



}

.photo-wrapper img {
  
   height:200px;
   width: 200px;
   border-radius: 50%

}


.photo-wrapper h1 span {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #e5e8ed;
}


.info-wrapper {

    background-color: #e5e8ed;
    text-align: left;
    margin: 20px;
    padding: 10px;
    height: 260px;
    width: 600px;
    border-radius: 10px;
}

.userphotos-wrapper {

    background-color: #e5e8ed;
    text-align: left;
    margin: 20px;
    padding: 10px;
    height: 260px;
    width: 928px;
    border-radius: 10px;
}

.settings-wrapper {
    background-color: #e5e8ed;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 260px;
    width: 260px;


}



.footer {
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    color: white;
    font-size: 13px;
}

.footer a {
    color: white;
}

