.remBtn
{
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 0px;
}
.selInterest
{
    color: grey;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-color: #337ab7;
    border-left-width: 2px;
}
.fontface
{
    font-family: "segoe ui";
}
.my-modal-dialog
{
    top:0px;
    left:15px;
    margin-top:0px;
    margin-bottom:0px;
}