<!DOCTYPE html>
<html lang="en">
<head>
    <title>Чат</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../resources/js/jquery-3.2.0.min.js"></script>
    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        span.badge {
            float: right;
        }

        .chat-in {
            margin: 10pt;
        }

        #send-file {

            font-size: 14pt;
            vertical-align: middle;
        }

        #send-msg-span {
            font-size: 20pt;
        }

        .container-overflow {
            display: block;
            overflow: auto;
            height: 400pt;

        }

        div.message {
            white-space: pre-wrap;
        }

        div.send-msg {
            margin: 10pt 5pt 5pt 5pt;
        }
    </style>
    <script>
        $(document).ready(function () {
            var elem = document.getElementById("con-over");
            elem.scrollTop = elem.scrollHeight;
        })
    </script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#">Messages</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search..">
                    <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 well">
            <div class="well">
                <p><a href="#">My Profile</a></p>
                <img src="https://s-media-cache-ak0.pinimg.com/originals/94/d9/a6/94d9a675fb8216905024631063c96a13.jpg"
                     class="img-circle" height="140" width="140" alt="Avatar">
            </div>
            <ul class="nav nav-pills nav-stacked text-left">
                <li><a href="#"></span> Главная</a>
                </li>
                <li class="active"><a href="#"><span class="badge">7</span> Сообщения </a></li>
                <li><a href="#"> Фото</a></li>
                <li><a href="#"> Option 3</a></li>
                <li><a href="#"> Option 4</a></li>
            </ul>
        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div id="con-over" class="panel-body container-overflow">
                            <div class="row">
                                <ul class="chat-in list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-1 ">
                                                <img class="img-rounded" width="32"
                                                     src="http://ehoop.ru/uploads/posts/2016-02/1455402445_512_52.jpg">
                                            </div>
                                            <div class="col-sm-11 message">Лови файлик
                                            </div>
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <a href="#" class="btn btn-link"><span
                                                        class="glyphicon glyphicon-paperclip"></span> Filename</a>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-1 ">
                                                <img class="img-rounded" width="32"
                                                     src="http://ehoop.ru/uploads/posts/2016-02/1455402445_512_52.jpg">
                                            </div>
                                            <div class="col-sm-11 message">О, спасибо!
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="row send-msg">
                            <div class="col-sm-9 center-block">
                                <div>
                                    <textarea placeholder="Введите сообщение" class="form-control" style="resize: vertical"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="col-sm-3"><span id="send-file" class="glyphicon glyphicon-paperclip"></span>
                                </div>
                                <div class="col-sm-4">
                                    <button id="send-msg" class="btn btn-default"><span id="send-msg-span"
                                                                                        class="glyphicon glyphicon-send"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>
